/*******************************************************************************
GENERAL
********************************************************************************/

:root{
  /*Colors*/
  --primary-green-dark: #345A4A;
  --primary-green-mid: #6FC09D;
  --primary-green-light: #ECF5EE;
  --primary-red: #E64646;
  --primary-grey: RGB(249,249,249);

  /*Dimensions*/

  --header-height: 80px;
  --profile-pic-diameter: 30px;

  /*buttons*/
  --button-width: 350px;
  --button-height: 60px;



}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* border: 1px solid lightgray; */
}

/* Generic Page Styles */

.page-title{
  color: var(--primary-red);
  padding: 1em;
  font-size: 2em;
  width: 7em;
}

.leftTitleText{
  color: var(--primary-green-dark)
}

.rightTitleText{
  color: var(--primary-green-mid)
}

.max-width-1200px{
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

/*******************************************************************************************/
/*Header & Navigation*/
/*******************************************************************************************/
.nav-logo{
  background-color: white;
  width: calc(0.75 * var(--header-height));
  height: calc(0.75 * var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.05), 2px 3px 2px rgba(0, 0, 0, 0.25),
  3px 4px 4px rgba(0, 0, 0, 0.05), inset -2px -2px 3px rgba(237, 237, 237, 0.9);
}

.nav-logo svg{
  width: 70%;
}

.nav-toggle-button{
  display: none;
}

#mobile-nav-toggle{
  padding: 0.1em;
  font-size: 2em;
  margin-right: 0.5em;
  color: var(--primary-green-dark);
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0.25em var(--primary-green-dark);
}

#mobile-nav-toggle:active{
  box-shadow: 0 0 0.4em var(--primary-green-dark);
}

.header-container{
  padding-left: 1%;
  max-height: var(--header-height);
  min-height: 45px;
  height: var(--header-height);
  width: 98.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-container{
  display: flex;
  justify-content: end;
  width: 60%;
  min-width: 40%;
  height: 80%;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 70%;
  max-width: 100%;
  min-width: 30%;
  height: 100%;
  list-style-type: none;

}

.mobile-nav-menu {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  gap: 0.5em;
  align-items: start;
  width: 100%;
  height: 30%;
  list-style-type: none;
  flex-direction: column;
  margin-top: 2em;
}

.nav-item a, .mobile-nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-menu li a {
  font-family: "Roboto", serif;
  padding: 0.25rem 0.25rem;
  color:var(--primary-green-dark);
  font-weight: bold;
}

.nav-menu li a:hover {
  color: var(--primary-red)
}

#mobile-nav-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  background-color: transparent;
  display: block;
}

.mobile-user-details{
  width: 100%;
  height: 35%;
  border-bottom: 1px solid var(--primary-green-mid);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobile-user-profile-pic{
  width: calc(var(--profile-pic-diameter) * 5);
  height: calc(var(--profile-pic-diameter) * 5);
}

.mobile-nav-container{
  width: 100vw;
  height: 100vh;
  padding: 3em 2em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.mobile-nav-item a{
  display: flex;
  width: 7em;
  justify-content: start;
  align-items: center;
  gap: 1em;
  color: var(--primary-green-dark);
}

.profile{
  max-width: 25%;
  height: 70%;
  margin-right: 1%;
}

.user-details{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  color: var(--primary-green-dark);
}

.user-full-name{
  color: var(--primary-green-dark);
  font-family: inherit;
  height: 1.25em;
}

.user-description{
  color: darkgray;
  
}

.profile-dropdown{
  color: var(--primary-green-dark);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.user-profile-pic{
  width: var(--profile-pic-diameter);
  height: var(--profile-pic-diameter);
  border-radius: 50%;
}

.user-profile-pic img{
  width: var(--profile-pic-diameter);
  height: var(--profile-pic-diameter);
  border-radius: 50%;
}



/*******************************************************************************************/
/* End of Header & Navigation*/
/*******************************************************************************************/

/*Main Section*/

.main-bg-light{
  background-color: var(--primary-green-light);
}

.main-bg-dark{
  background-image: linear-gradient(var(--primary-green-mid), var(--primary-green-dark));
}

/*End of Main Section*/

/*******************************************************************************************/
/*Footer Section*/
/*******************************************************************************************/

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: var(--primary-green-dark);
  color: white;
}

.footer-container a {
  margin: 1em 0;
  font-size: 0.9em;
}

.footer-block{
  width: 25%;
}

.footer-block small{
  display: block;
  margin-top: 1em;
}

.footer-block-title{
  margin-bottom: 1.5em;
  font-weight: 700;
}

.address-line{
  font-size: 0.9em;
}

.footer-social-icons{
  display: flex;
  width: 50%;
  margin: 2em 0;
  justify-content: space-between;
}

.footer-links{
  display: block;
  text-decoration: none;
  color: inherit;
}

.footer-divider-mobile{
  margin: 1em 0;
  display: none;
}

/*******************************************************************************************/
/*End of Footer Section*/
/*******************************************************************************************/

/*BUTTON STYLES*/

.button{
  font-weight: bold;
  font-family: inherit;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.dark{
  background-color: var(--primary-green-dark);
  color: white;
}

.white-dark{
  color: var(--primary-green-dark);
  background-color: white;
}

.semi-dark{
  background-color: var(--primary-green-mid);
  color: white;
}

.transparent{
  background-color: transparent;
  color: var(--primary-green-dark);
  border: 1px solid var(--primary-green-mid);
}

.transparent-white{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.rounded{
  border-radius: 30px;
}

.semi-rounded{
  border-radius: 8px;
}

.large-button{
  width: var(--button-width);
  height: var(--button-height);
}

.dark-border{
  border: 1px solid var(--primary-green-dark);
}

.semi-dark-border{
  border: 1px solid var(--primary-green-mid);
  box-shadow: 0 0 15px var(--primary-green-mid);
}

.medium-button{
  width: calc(0.8 * var(--button-width));
  height: calc(0.8 * var(--button-height));
}

.small-button{
  width: calc(0.3 * var(--button-width));
  height: calc(0.5 * var(--button-height));
}

.dark:hover{
  color: var(--primary-green-dark);
  background-color: white;
  border: 2px solid var(--primary-green-dark);
}

.dark:active{
  color: white;
  background-color: var(--primary-green-dark);
}

.white-dark:hover{
  background-color: var(--primary-green-dark);
  color: white;
  border: 2px solid var(--primary-green-dark);
}

.white-dark:active{
  background-color: white;
  color: var(--primary-green-dark);
}

.semi-dark:hover{
  color: var(--primary-green-mid);
  background-color: white;
  border: 2px solid var(--primary-green-mid);
}

.semi-dark:active{
  color: white;
  background-color: var(--primary-green-mid);
}

/*AGENDA ITEM STYLES*/


#agenda-root{
  width: 100%;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.5em;
}

.backdrop{
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-outer{
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: row;
  /* border: 3px solid yellow; */
}

.container-top-block{
  width: 20%;
  height: 100%;
  color: var(--primary-green-dark);
  border-radius: 1rem;
}

.container-top-block img{
  border-radius: inherit;
}

.container-time-block h3 {
  margin-bottom: 5px;
}

.agenda-day{
  border: 0.2em solid white;
  padding: 1em;
  width: 10em;
  border-radius: 1em;
  color: var(--primary-green-dark);
  text-align: center;
}

.container-activity-block{
  width: 80%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  color: var(--primary-green-dark);
  padding: 20px;
  /* border: 1px solid brown; */
}

.activity-title{
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

.activity-summary{
  font-size: 0.9em;
  color: darkgrey;
}

/* AGENDA ITEM FORM

.form-container{
  width: 80vw;
  height: 70vh;
  max-width: 800px;
  min-height: 38em;
  max-height: 80vh;
  font-size: 16px;
  display: flex;
  position: fixed;
  top: 10vh;
  left: 10vw;
  background-image: linear-gradient(to bottom right, var(--primary-grey), var(--primary-green-light));
  border-radius: 2vw;
}

#agenda-item-form-container{
  display: none
}

#agenda-item-form{
  width: 60%;
  height: 80%;
  background-color: var(--primary-grey);
  color: white;
  box-shadow: 0 0 10px var(--primary-green-mid);
  display: block;
  margin: auto;
  border-radius: 1em;
}

.agenda-item-form-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 100%;
  gap: 0.75em;

}

#agenda-item-form legend{
  background-color: var(--primary-green-dark);
  height: 3em;
  padding: 1em;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#agenda-item-form .activity-boundary{
  height: 3.5em;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#agenda-item-form input, #agenda-item-form textarea{
  width: 100%;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: 1px solid var(--primary-green-mid);
  outline: none;
  color: var(--primary-green-light);
}

#agenda-item-form .session-title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3.5em;
  width: 90%;
}

#agenda-item-form .session-summary{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7em;
  width: 90%;
}

#agenda-item-form label{
  color: var(--primary-green-mid);
  font-weight: bold;
}

#agenda-item-form textarea{
  height: 5.5em;
  resize: none;
}

#agenda-item-form .activity-timing{
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  margin: 0.5em 0.5em;
}

.agenda-item-save{
  display: block;
  margin: 5% auto;
} */

/*************************************************************************************
MEDIA QUERIES
**************************************************************************************/

@media only screen and (max-width: 600px) {
  /*Mobile Devices*/

  .nav-menu, .profile{
    display: none;
  }

  .nav-toggle-button{
    display: flex;
  }

  body{
    min-width: 97vw;
    width: 98.5vw;
    margin-right: 0;
  }

  .backdrop{
    font-size: 14px;
    height: 20rem;
    width: 100%;
    padding: 0;
    align-items: start;
  }

  #agenda-root{
    width: 100%;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1.5em;
  }

  .agenda-day{
    font-size: 14px;
    padding: 0.5em;
  }

  .button-container{
    font-size: 11px;
  }

  .container-outer{
    flex-direction: column;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }

  .container-activity-block{
    width: 100%;
    margin-top: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .container-top-block{
    width: 100%;
    height: 40%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .container-top-block > img{
    width: 100%;
    height: 100%;
    border-radius: inherit;

  }

  /*Agenda activity form*/
/* 
  .form-container{
    font-size: 11px;
  }

  #agenda-item-form input, #agenda-item-form textarea{
    font-size: inherit;
  }

  #agenda-item-form .activity-boundary{
    width: 100%;
  }

  #agenda-item-form .activity-timing{
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
  }

  .button-container{
    font-size: 14px;
  } */

  /* Agenda activity form

  .form-container{
    font-size: 10px;
  }

  #agenda-item-form{
    width: 90%;
  }

  #agenda-item-form input, #agenda-item-form textarea{
    font-size: inherit;
  } */

  /*Footer Section*/

  .footer-container{
    flex-direction: column;
    padding: 2em 1em 5em 1em;
    width: 100%;
  }

  .footer-block{
    width: 100%;
  }

  .footer-address{
    display: none
  }

  .footer-divider-mobile{
    display: block;
  }

}



@media screen and (max-width: 800px) {

  /*Agenda activity form*/

  #agenda-item-form{
    width: 80%;
  }

  #agenda-item-form input, #agenda-item-form textarea{
    font-size: inherit;
  }
}

@media screen and (min-width: 1100px) {
  /*Large Laptops*/

  .nav-container{
    min-width: 25%;
  }

}